@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/**
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.jost-<uniquifier> {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------------
        FLEXBOX et largeur 
--------------------------------------------*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.space-betwwen{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.align-items{
    align-items: center;
}
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    width: 30%;
}
.logo{
    width: 200px;
}

.mt100{
    margin-top: 100px;
}

header{
    background-color: blue;
}
.hero{
    background-color :orangered;
    height: 100vh;
}

